<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZcMhG4T5k4QuBAMQl2zEZ4ylCZFSTjsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>545599432217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gologonow.groovkin</string>
	<key>PROJECT_ID</key>
	<string>groovkin-5f843</string>
	<key>STORAGE_BUCKET</key>
	<string>groovkin-5f843.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545599432217:ios:4a892c81cc691811012c88</string>
</dict>
</plist>